<head>
    <meta charset="utf-8">
    <title>Barebones Page</title>
    <meta name="description" content="starter">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="filescanner" data-ng-controller="MainCtrl">
  <div class="content centered" style="top:30%">
	  <form>
		<input type="file" id="fileUpload" />
		<input type="button" id="upload" value="Submit" data-ng-click="fileScan()"/>
	  </form>
	  <!--<div id="editor"></div>-->
  </div>
</body>
